<li>
	{{burger_name}}

	<button class="devoured" data-id="{{id}}" data-newburger="{{devoured}}">
		{{#if devoured}}UNEATEN!{{else}}DEVOURED!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>