<li>
	{{burger_name}}

	<button class="devoured btn btn-primary btn-sm" data-id="{{id}}" data-newburger="{{devoured}}">
		{{#if devoured}}DEVOUR!{{else}}THROW UP!{{/if}}
	</button>

	<button class="delete-burger btn btn-danger btn-sm" data-id="{{this.id}}">THROW IT ON THE GROUND!</button>
</li>